<%= error_messages_for(f.object) %>

<label>Name</label>
<%= f.text_field :name, class: "form-control" %><br />

<label>Subject</label>
<%= f.select :subject_id, @subjects.map{|s| [s.name, s.id]}, {}, class: "form-control" %> <br />

<label>Position</label>
<%= f.select :position, 1..@page_count, {}, class: "form-control" %> <br />

<label>Permalink</label>
<%= f.text_field :permalink, class: "form-control" %><br />

<label>Visible</label>
<%= f.check_box :visible, class: "form-control" %> <br />